:root{
    --bg-color: #0b0e14;
    --accent-color: #00ffcc;
    --text-primary:#ffffff;
    --text-secondary:#a0a0a0;
    --font-title: 'Syncopate', sans-serif;
    --font-body: 'Inter', sans-serif;
}

body{
    background-color: var(--bg-color);
    color: var(--text-primary);
    font-family: var(--font-body);
    margin: 0;
    display: flex;
    flex-direction: column;
    allign-items: center;
    height: 100vh;
    text-align: center;
}

h1{
    font-family: var(--font-title);
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--accent-color);
    letter-spacing: 5px;
}

.nav-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: -1;
}

.nav-container:hover .bio-btn{
    transform: translate(-150px,100ox);
}

.nav-container:hover .port-btn{
    transform: translate(150px, -100px);

}